@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif !important;
  font-size: 16px;
  line-height: 1.5;
}
.header {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  flex-direction: row;
}

.nav .logo {
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  color: #333;
}
.nav-links {
  padding: 20px;
}
.nav-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.nav-links a {
  display: flex;
  color: #333;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.nav-links a:hover {
  background: #406cff;
  color: #fff;
  transition: 0.5s;
}

.toggleMenu {
  *display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 120px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  transition: heigth 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
  overflow: hidden;
}
.toggleMenu.active {
  width: 300px;
  height: 400px;
  transition: width 0.5s, heigth 0.5s;
  transition-delay: 0s, 0.75s;
}

.toggleMenu .userBox {
  position: relative;
  width: 60px;
  height: 60px;
  background: #ffffff;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.toggleMenu.active .userBox {
  width: calc(100% - 60px);
  transition-delay: 0s;
}
.toggleMenu .userBox .userName {
  color: #333;
  white-space: nowrap;
}

.toggleMenu .userBox .imgBox {
  position: relative;
  min-width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid #ffffff;
}

.toggleMenu .userBox .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.toggleMenu .menuToggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggleMenu .menuToggle::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: #406cff;
  transform: translateY(-10px);
  box-shadow: 0 10px #406cff;
  transition: 0.5s;
}

.toggleMenu .menuToggle::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: #406cff;
  transform: translateY(10px);
  transition: 0.5s;
}

.toggleMenu.active .menuToggle::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 #406cff;
}
.toggleMenu.active .menuToggle::after {
  transform: translateY(0px) rotate(-45deg);
}
.navMenu {
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 60px;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.navMenu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navMenu ul a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  margin: 20px 0;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  color: #333;
}
.navMenu ul a i {
  margin-right: 10px;
  align-items: center;
  display: flex;  
}

.navMenu ul a:hover {
  background: #406cff;
  color: #fff;
  transform: scale(1.5);
}

.hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #406cff;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.calc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fff;
  color: #406cff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}
.calc .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
}
.boxes .box .box-header {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.boxes .box .box-header .box-title {
  font-size: 25px;
  font-weight: bold;
  color: #406cff;
}

.boxes .box .box-header p {
  font-size: 15px;
  color: #333;
  margin: 5px;
}

.time {
  font-size: 20px;
  font-weight: bold;
  color: #406cff;
}

.boxes .box .box-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 60%;
  padding: 10px;
  gap: 10px;
}
.boxes .box .box-body .btn {
  width: 100%;
  padding: 10px;
  color: #333;
  margin-top: 10px;
}
.boxes .box .box-body p {
  font-size: 20px;
  color: #333;
  margin-top: 15px;
}

.boxes .box .box-body .frmVacation input{
  width: 100%;
  margin-bottom: 15px;
  font-weight: 600;
}

.boxes .box .box-body input:hover {
  background: #406cff;
  color: #fff;
  transition: 0.5s;
}

.icon {
  font-size: 1.5em;  
  border-radius: 50%;
  padding: 40px;
  text-align: center;
}
.fa-plane {
  color: #406cff;
}
.fa-wallet {
  color: #acb124;
}
.fa-money-bill-wave-alt{
  color: #20bde0;
}

.box-footer .data {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1em;
}

/* Box Player */
.box .box-body .input-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.box .box-body .input-data .texto {
  font-size: 20px;
}
.box .box-body .input-data #datos {
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 50px;
}
.box .box-body .player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.box .box-body .player .buttons-media {
  text-align: center;
}
.box .box-body .player .buttons-media i {
  color: #406cff;
}
.box .box-body .player .buttons-media i:hover {
  cursor: pointer;
}
#show {
  font-size: 50px;
  color: #406cff;
  border-radius: 50px;
  padding: 11px 19px;
  margin: 0 40px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #6f91ffd5,
  0 0 20px #6f91ffd5;
}
#play,
#stop,
#pause {
  font-size: 30px;
  box-shadow: 2px 2px 2px #406cff,
  10px 1px 12px #406cff,
  2px 2px 10px #406cff,
  2px 2px 3px #406cff,
  inset 2px 2px 10px #406cff,
  inset 2px 2px 10px #406cff,
  inset 2px 2px 10px #406cff,
  inset 2px 2px 10px #406cff;
  border-radius: 50px;
  padding: 11px 19px;
  margin: 0 40px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #6f91ffd5,
  0 0 20px #6f91ffd5;
}
#play {
  animation-delay: 00.3s;
}
#stop {
  animation-delay: 00.5s;
}
#pause {
  animation-delay: 00.7s;
}
@keyframes animate {
  from{
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

/* Scroll Widget - Start */
.scroll {
  position: fixed;
  display: inline;
  text-align: center;
  line-height: 50px;
  right: 20px;
  bottom: 3px;
  float: left;
  margin-bottom: 60px;
  z-index: 20;
}
.scroll #scroll-widget {
  float: right;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 50px;
  color: #fff;
  background-color: #406cff;
  margin-right: 10px;
  border: rgba(30, 0, 255, 0.8) solid 1px;
}
.scroll #scroll-widget:hover {
  background-color: #fff;
  color: #406cff;
  transition: 0.5s;
}
.scroll #scroll-widget a {
  display: inline;
  justify-content: center;
  align-items: center;
  fill: #406cff;
  width: 41px;
  height: 50px;
}

/* Scroll Widget - End */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  color: #406cff;
  margin-top: 10px;
}
.footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.footer .footer-content .footer-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
#instagram,
#freecodecamp,
#github,
#linkedin {
  font-size: 30px;
  border-radius: 50px;
  padding: 11px 19px;
  margin: 0 40px;
}